<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Team Draft Tool | A simple way to take control of your fantasty football leagues</title>
    <link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet" />

</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Draft Order</a>
    </div>
</nav>
<!-- Page content-->
<div class="container pt-5">
    <h1 class="text-center">Team Draft Tool</h1>
    <div class="mt-5">
        {{#if message}}<h3>That team has already been selected</h3>{{/if}}
        <h2>Available teams: </h2>
        {{#if team}}
            <h3> You selected the {{team}} </h3>
            <p>View <a </p>
        {{/if}}

        <ul id="teams">
            {{#each availableTeams}}

                <li>{{this.full_name}} <img class="team" src="assets/img/{{this.code}}.png"></li>
            {{/each}}

        </ul>
        <form action="/team" method="post">
            <input type="text" placeholder="Team name here" name="team">
            <input type="text" placeholder="Manager name here" name="manager">
            <button>Draft team</button>
        </form>
    </div>
    <div class="mt-5">
        <h2>Order/Results:</h2>
        <ol id="draft-order">
            {{#each selectedTeams}}

                <li>{{this.full_name}} <img class="team" src="assets/img/{{this.code}}.png"></li>
            {{/each}}
       </ol>

    </div>
</div>
<!-- Temporary data using JS

<script src="js/data.js?cache=false"></script>
<script src="js/scripts.js?cache=true"></script>

-->
</body>
</html>
